{% extends 'website/layout.html' %}

{% block main %}
    <div class="col-md-6">
        <h2 style="background-color:lightgray;text-align: center">Heatmap de uma antena</h2>

        <form action=" {% url 'website:heatmap_antena' %} " method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit">
        </form>

    </div>
    <div class="col-md-6">

        {% if submetido %}
            {% load static %}
            <img src=" {% static "website/images/heatmap.png" %}" alt="" width="100%">
        {% endif %}

    </div>
{% endblock main %}